*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;

}

 h2  {
  color: rgb(213, 0, 0);
  border-width: 1px;
  border-color:rgb(0, 0, 0);

}

.red-bold::first-letter {
  color: rgb(213, 0, 0);
  font-weight: bold;
  font-size: 3em;
  position: relative; /* Per consentire il posizionamento del bordo */
}




/*rule for webfont*/
@font-face {
  font-family: "Bembo";
  src: url(fonts/Bembo-Bold-Font.ttf);
}

@font-face {
  font-family: "Hippie";
  src: url("fonts/1960s\ Hippie.ttf") format("truetype");
}

@font-face {
  font-family: "Future";
  src: url("fonts/futureS.ttf") format("truetype");
}

@font-face {
  font-family: "Coventry";
  src: url("fonts/CoventryGardenNF.ttf") format("truetype");
}

/*filters*/
img {
  filter: grayscale(100%);
}

body {
  background-image: url(backgroundimg/letterbg.jpg); /*grey paper bg*/
  font-family: "Bembo", "serif"; /*because bembo is a classic font*/
  cursor: url(cursor/pointerbembo.png), auto;
}

a {
  color: #000000;
  text-decoration: none;
  text-shadow: 2px 2px 5px rgb(255, 251, 0);
}


h1 {
  font-size: 45px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 20px;
}

p {
  font-size: 20px;
}
/*header css*/

nav {
  background: rgb(213, 0, 0);
  height: 80px;
  width: 100%;
  border-bottom:  2px solid black;
  border-top:  2px solid black;
  position: fixed;
  top: 0;
  z-index: 1;
  line-height: 80px;
  animation: fadeInDown;
  animation-duration: 2s;
}

label.logo{
  color: rgb(0, 0, 0);
  font-size: 35px;
  line-height: 80px;
  font-weight: bold;
  cursor: url(cursor/pointerbembo.png), auto;
}

.logoimg{
  margin-left: 5%;
  padding-top: 7px;
}

nav ul {
  float: right;
  font-size: 15px;
  margin-right: 5%;
  display: flex;
  flex-direction: row;

}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
  padding: 10px 0 10px 30px;

}

nav ul li a{
  color: black;
  font-size: 20px;
  padding: 7px 13px;
  border-radius: 2px;
}

#leftmenu{
  width: 30%;
  float: left;
  height: 700px;
  padding-left: 20px;
}

.issuesintro{
  width: 70%;
  float: right;
  height: 700px;
  margin-bottom: 20px;
  overflow: auto;
}

#themes{
  color: black;
  font-size: 20px;
  padding: 7px 13px;
  border-radius: 2px;
  text-shadow: 2px 2px 5px rgb(255, 251, 0);
}

#b{
  color:rgb(213, 0, 0);
}

#issuesgrid{
  clear: both;
}

a.active, a:hover{
  text-shadow: 2px 2px 10px rgb(213, 0, 0);
  transition: .5s;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(213, 0, 0);
  z-index: 1;
  border: 2px solid black;
  width:fit-content;
  line-height: 20px;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: flex;
  font-size: 18px;  
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  transition: .5s;
}

#hero {
  width: 100%;
  height: 70vh;
  background-image: url(slide/bembo.jpeg);
  background-repeat: no-repeat;
  margin-bottom: -110px;
  border-bottom:  2px solid black;
}
#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 800px;
  padding-bottom: 120px;
}
#hero .carousel-content {
  text-align: center;
}
#hero h2 {
  color:  rgb(0, 0, 0);
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
}

#responsive{
  display: none;
}

@media screen and (max-width: 1200px){
  nav ul li{
    display: none;
  }
  #responsive{
    background-color: inherit;
    border: none;
    cursor: pointer;
    display: inline-block;
    padding-left: 70%;
    line-height: 60px;
    position: relative;
  }
  .dropdown-content {
    position: absolute;
    background-color: rgb(213, 0, 0);
    z-index: 1;
    border: 2px solid black;
    width: 170px;
    line-height: 50px;
  }
  .dropdown-content a {
    color: black;
    text-decoration: none;
    display: flex;
    font-size: 20px;
    margin-left: 10px;
  }
  #hero h2{
    padding-left: 70%;
  }
  #hero .button{
    margin-left: 70%;
    width: 100%;
  }
  .services .row{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .theteam .row{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

}
@media screen and (max-width: 900px){
  #menuindex{
    font-size: smaller;
  }
  #menuindex h3{
    font-size:medium;
  }
  #menuindex #sappho{
    font-size: medium;
  }
  #menuindex #dickinson{
    font-size: medium;
  }
  #menuindex #kaur{
    font-size: medium;
  }
  #menuindex{
    overflow-y: auto;
  }
}
@media screen and (max-width: 600px){
  #menuindex #metadata{
  padding: 2px;
  }
  #menuindex #sappho{
    font-size: small;
  }
  #menuindex #dickinson{
    font-size: small;
  }
  #menuindex #kaur{
    font-size: small;
  }
}  

@media (max-height: 768px), (max-width: 1200px) {
  #hero {
    margin-bottom: 60px;
  }
  #hero .carousel-container {
    padding-bottom: 0;
  }
  #hero .carousel-indicators li {
    margin-bottom: 0;
  }
}
@media (max-width: 768px) {
  #hero {
    height: 90vh;
  }
  #hero .carousel-item {
    height: 90vh;
  }
}
@media (min-width: 1024px) {
  #hero p {
    width: 50%;
  }
  #hero .carousel-control-prev, #hero .carousel-control-next {
    width: 5%;
  }
}
#hero .button  {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid rgb(213, 0, 0);
  color: rgb(0, 0, 0);
  background-color: #ccc;
  text-decoration: none;
  font-weight: bold;
}
#hero .button:hover{
  animation: pulse;
  animation-duration: 2s;
}

/* about*/
.content h2{
  text-align: center;
}
.content p {
  font-size: 20px;
  text-align: justify;
  margin-left: 50px;
  margin-right: 50px;
}

/*documentation page*/
.documentation h2 {
  text-align: center;
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.documentation p {
  font-size: 20px;
  text-align: justify;
  margin-left: 50px;
  margin-right: 50px;
}

.documentation li {
  font-size: 20px; 
  margin-left: 50px;
  margin-right: 50px; 
}

/*project page*/
.p-project h2 {
  text-align: center;
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.p-project  {
  font-size: 20px;
  text-align: justify;
  margin-left: 50px;
  margin-right: 50px;
}

.p-project  {
  font-size: 20px; 
  margin-left: 50px;
  margin-right: 50px; 
}



/*services section*/
.services  h2 {
  text-align: center ;
}

.services h3 {
  text-align: center;
}

.services  h4 {
  text-align: center;
}
.services  p {
  text-align: justify;
  margin-left: 50px;
  margin-right: 50px;
}

.services .icon-box {
  margin-top: 10px;
  border: 1px solid floralwhite;
  padding: 60px 15px;
  transition: all ease-in-out 0.3s;
  border-width: 5px;
  border-color:rgb(0, 0, 0);
}

.services h2 {
  color: rgb(213, 0, 0);
  margin-top: 10px;
}

.services h3 {
  margin-top: 30px;
}
.services .icon {
  width: 200px;
  height: 200px;
  margin:auto;
}

.services .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icon-box {
  width: 400px; 
  height: 600px; 
  background-color: #ccc; 
  margin-right: 10px; 
  margin-left: 10px;
}

/*footer*/
.footer {
  background-color: rgb(213, 0, 0); 
  color: rgb(0, 0, 0); /* black text color */
  padding: 20px;
  border-bottom:  3px solid black;/* Add a border to the bottom of the header */
  border-top:  3px solid black;
  margin: auto;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px;
}

.footer-section {
  flex-basis: 30%;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-section p {
  font-size: 14px;
  margin-bottom: 5px;
}


.social-media-icons {
  list-style: none;
  padding: 0;
  display: flex;
}

.social-media-icons li {
  margin-right: 10px;
}

.social-media-icons a {
  color: #fff;
}

.footer-bottom {
  margin-top: 20px;
  text-align: center;
  color:#fff

}
.back-to-top {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-bottom:  1px solid black;
  border-top:  1px solid black;
}

.back-to-top:hover {
  text-decoration: none;
}


.theteam  h2 {
  text-align: center ;
}

.theteam h3 {
  text-align: center;
}

.theteam  h4 {
  text-align: center;
}
.theteam  p {
  text-align: center;
}

.theteam .icon-box {
  margin-top: 10px;
  border: 1px solid floralwhite;
  padding: 80px 20px;
  transition: all ease-in-out 0.3s;
  border-width: 5px;
  border-color:rgb(0, 0, 0);
  }

.theteam h2 {
  margin-top: 10px;
}

.theteam h3 {
  margin-top: 30px;
}
.theteam .icon {
  width: 200px;
  height: 200px;
  margin-left: 40px;
  align-items: center;

}

.theteam .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.theteam .icon-box {
  width: 400px; 
  height: 500px; 
  background-color: #ccc; 
  margin-right: 10px; 
  margin-left: 10px;
}
.container {
  width: 100%;
  padding: 10px;
}

#menuindex {
  text-align: center;
  margin-top: 20px;
  background-color: #ffffff;
  border-bottom:  2px solid black;
  border-top:  2px solid black;
  border-left:  2px solid black;
  border-right:  2px solid black;
  height: 600px;
  padding-top: 20px;
}

.services #authorbtn{
  cursor: pointer;
  background-color: inherit;
  border: none;
  padding: 5px;
  font-size: 90%;
  margin-top: 10px;
  font-family: "Bembo", "serif";
  text-shadow: 2px 2px 5px rgb(255, 251, 0);
}
.services #authorbtn:hover{
  text-shadow: 2px 2px 10px rgb(213, 0, 0);
  transition: .5s;
}

.services #hidden{
  visibility: hidden;
  font-size: 40%;
}

.services #langButton{
  cursor: pointer;
  font-size: 90%;
  border: solid 1px black;
  padding: 10px;
  border-radius: 7%;
  font-family: "Bembo", "serif";
  background-color: white;
  margin-left: 40px;
  text-shadow: 2px 2px 5px rgb(255, 251, 0);;
}

.services #langButton:hover{
  text-shadow: 2px 2px 10px rgb(213, 0, 0);
  transition: .5s;
}

#chosenpoem{
  text-align: left;
  position: relative;
  overflow: auto;
}
#chosenpoem #Eng{
  float:left;
  max-width: 50%;
  padding-top: 20px;
}
#chosenpoem #secondLanguage{
  position:relative;
  text-align: left;
  float:left;
  max-width: 50%;
}

.services #clickable{
  background-color: inherit;
  border: none;
  font-family: "Bembo", "serif";
  text-shadow: 2px 2px 5px rgb(255, 251, 0);
  cursor: pointer;
}

.services #clickable:hover{
  text-shadow: 2px 2px 10px rgb(213, 0, 0);
  transition: .5s;
}

.services #metadata{
  cursor: pointer;
  font-size: 90%;
  border: solid 1px black;
  padding: 10px;
  border-radius: 7%;
  font-family: "Bembo", "serif";
  margin: 3px;
}

#sappho{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}
#dickinson{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}
#kaur{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

#menuindex .self{
  background-color: gold;
}
#menuindex .body{
  background-color: #ff77d2;
}
#menuindex .place{
  background-color:  #77bdff;
}
#menuindex .neg{
  background-color: #ff5757;
}
#menuindex .pos{
  background-color: #65ff57;
}

#menuindex h3 {
  margin-top: 10px;
  text-align: center;
}

#menuindex h6 {
  margin: 10px 0;
  text-align: center;
}

#menuindex ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

#menuindex ul li {
  margin: 5px 0;
  text-align: center;
}

#menuindex a {
  text-decoration: none;
  text-align: center;
}

.issuesintro h2 {
  margin-bottom: 20px;
}

.container h2 {
  margin-bottom: 20px;
}

.row {
  margin-bottom: 30px;
}

#chosenpoem{
  width: 70%;
  float: right;
  height: 700px;
  overflow: auto;
}

#clear{
  clear: both;
}

.styleButton{
  background-color: inherit;
  border: none;
  font-family: "Bembo", "serif";
}

#bemboButton a:hover{
  background-image: url(backgroundimg/letterbg.jpg);
  font-family: "Bembo", "serif";
  color: rgb(213, 0, 0);
  font-weight: bold;
}

#decoButton a:hover{
  background-image: url(backgroundimg/last.jpg);
  font-family:"Coventry";
  color: rgb(178, 57, 135);
  font-weight: bold;
}

#sixtyButton a:hover{
  background-image: url(backgroundimg/60sad.jpg);
  font-family: "Hippie";
  color: yellow;
}

#socialButton a:hover{
  font-family: "Future";
  color: black;
  background-image: url(backgroundimg/future.jpg);
  font-weight: bold;
}