/*general*/

/*rule for webfont*/
* {
  box-sizing: border-box;  /*preventing them from causing unexpected sizing issues*/
}

/*@font-face*/
@font-face {
  font-family: "Social";
  src: url("fonts/SocialMedia.ttf") format("truetype");
}

@font-face {
  font-family: "Simple";
  src: url("fonts/Simple\ script.ttf") format("truetype");
}

@font-face {
  font-family: "Future";
  src: url("fonts/futureS.ttf") format("truetype");
}

@font-face {
  font-family: "Bembo";
  src: url(fonts/Bembo-Bold-Font.ttf);
}

@font-face {
  font-family: "Hippie";
  src: url("fonts/1960s\ Hippie.ttf") format("truetype");
}

@font-face {
  font-family: "Coventry";
  src: url("fonts/CoventryGardenNF.ttf") format("truetype");
}


/*filters*/
img {
  filter: blur(2px);
}

a {
  color: #00c7b7;
  text-decoration: none; 
  font-size: bolder;
}

h1 {
  font-size: 45px;

}

h2 {
  font-size: 40px;
  text-align: justify;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  font-family:"Future";
  color: #00c7b7;
  padding: 20px;
  font-weight: bold;
  text-align: center;
  border: 2px solid;
  border-image: linear-gradient(to right, #00c7b7, #000000);
  border-image-slice: 1;
  border-radius: 4px
}
h3 {
  font-size: 25px;
}

h4 {
  font-size: 20px;
}

p {
  font-size: 20px;
}

body {
  background-image: url(backgroundimg/future.jpg);
  margin-top: 20px;
  margin-top: 20px;
  cursor: url(cursor/socialpointer.png), auto;
}

/*header css*/

nav {
  width: 100%;
  padding: 20px;
  height: 100px;
  background-color:  rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: row; 
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  animation: flash;
  animation-duration: 2s;
  border: 4px double #00c7b7;
  border-radius: 4px;
}

label.logo{
  color: #00c7b7;
  font-size: 60px;
  text-align: center;
  font-family: "Simple", sans-serif;
  border: 2px solid;
  border-image: linear-gradient(to right, #00c7b7, #000000);
  border-image-slice: 1;
  border-radius: 4px;
  margin-bottom: 50px;
  width: 100%;
}
.logoimg{
  filter: none;
}
  
nav ul {
  list-style-type: none; 
  display: flex;   /*for the elments childs*/
  padding: 10px;
  border: 4px double #00c7b7;
  border-radius: 4px;
  float: right;
  margin-left: 20%;
}

nav ul li a {
  color: #c0c0c0; /*silver or metallic*/
  font-family: "Social", sans-serif;
  font-size: 25px;
  padding: 20px;
}

#themes{
  color: #c0c0c0; /*silver or metallic*/
  font-family: "Social", sans-serif;
  font-size: 25px;
  padding: 20px;
}
#clear{
  clear: both;
}

.dropdown {
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  width:fit-content;
  border: 4px double #00c7b7;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 5px;
}
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.dropdown-content a {
  font-family: "Future";
  display: flex;
  border: 4px double #00c7b7;
  font-size: 15px;
  padding: 15px;
  color: #c0c0c0;
  cursor: pointer;
}
nav ul li button{
  border: none;
  background-color: inherit;
  width: 100%;
  padding: 0;
  text-align: left;
}

/*hero section*/

#hero {
  width: 100%;
  height: 70vh;
  position: center;
  overflow: hidden;
  padding-bottom: 30px;
  position: relative;
  border-image: linear-gradient(to right, #00c7b7, #000000);
  border-image-slice: 1;
  border-radius: 4px;
  margin-bottom: 50px;
  background-image: url(slide/social.jpg);
  margin-top: 100px;
}

#hero .carousel-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#hero h2 {
  margin-top: 250px;
  color: black;
  font-family: "Future", sans-serif;
  font-size: 60px;
}

#hero .button {
  margin-top: 20px;
  text-decoration: none;
  font-family: "Social", serif;
  padding: 10px;
  border: 2px dotted #00c7b7;
  border-radius: 4px;
  color: black;
  font-size: 20px;
}

#hero .button:hover{
  animation: zoomIn;
  animation-duration: 1s;
}

/*container and content*/

.container {
  width: 100%;
  font-family: "Future";
}

.about{
  background-color: rgba(0, 0, 0, 0.8);
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.main h2 {
  font-size: 40px;
  text-align: justify;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  font-family:"Social";
  color: #00c7b7;
  padding: 20px;
  font-weight: bold;
  text-align: center;
  border: 2px solid;
  border-image: linear-gradient(to right, #00c7b7, #000000);
  border-image-slice: 1;
  border-radius: 4px
}

.content p {
  font-size: 20px;
  text-align: justify;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 50px;
  font-family:"Future";
  padding-bottom: 20px;
  color: white;
}

/*services: issues*/
.services {
  background-color: rgba(0, 0, 0, 0.8);
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}
#leftmenu{
  width: 27%;
  float: left;
  margin-bottom: 20px;
  margin-left: 20px;
  height: 800px;
}
#leftmenu h2{
  font-size: 40px;
}
.issuesintro{
  padding-top: 30px;
}

.issuesintro .red-bold { 
  color: white;
  font-family: "Future";
  text-align: justify;
}
.issuesintro h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #00c7b7;
  font-family: "Social", sans-serif;
}
#issuesgrid{
  clear: both;
}
#issuesgrid .red-bold{
  color: white;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 50px;
  font-family:"Future";
  padding-bottom: 20px;
  text-align: justify;
}

/*services section*/

.services .icon-box {
  font-family: "Social", sans-serif;
  color: #00c7b7;
  border: 2px solid;
  border-image: linear-gradient(to right, #00c7b7, #000000);
  border-image-slice: 1;
  border-radius: 4px;
  height: 650px;
  padding: 20px;
  margin: 10px 10px 10px 10px;
}

.services .icon {
  width: 200px;
  height: 200px;
  align-content: center;
  margin-bottom: 20px;
  border: 2px solid #00c7b7;
  border-radius: 200px;
  box-shadow: 0 0 5px #00c7b7, 0 0 10px #00c7b7;
}
.services .icon:hover{
  filter: none;
}

.services  h2 {
  text-align: center;
  font-family: "Future";
  margin-bottom: 20px;
  padding-top: 40px;
  font-size: 30px;
}
.services h3 {
  font-family: "Social";
  font-size: 40px;
  font-weight: bold;
  text-align: left;
}

.services  h4 {
  text-align: left;
  font-weight: bolder;
  color: #c0c0c0;
}
.services  p {
  text-align: left;
  color: white;
  font-size: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.services .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.documentation{
  background-color: rgba(0, 0, 0, 0.8);
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.documentation .red-bold{
  font-size: 20px;
  text-align: justify;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 50px;
  font-family:"Future";
  padding-bottom: 20px;
  color: white;
}
.documentation h2 {
  text-align: center;
  font-size: 40px;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 30px;
  font-family: "Social", sans-serif;
  font-weight: bolder;
}
.p-project{
  background-color: rgba(0, 0, 0, 0.8);
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.p-project .red-bold{
  font-size: 20px;
  text-align: justify;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 50px;
  font-family:"Future";
  padding-bottom: 20px;
  color: white;
}
.p-project h2 {
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  color:#00c7b7;
  font-family: "Social", sans-serif;
  font-weight: bolder;
  padding: 20px;
}
.theteam{
  background-color: rgba(0, 0, 0, 0.8);
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 50px;
  padding-bottom: 50px;
}

/*footer*/
.footer h3 {
  font-family: "Social";
  
}
.footer {
  margin-top: 70px;
  border: 1px double #00c7b7;
  border-radius: 1px;
  color: white;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  border-width: 5px;
  font-family: "Future";
  background-color: rgba(0, 0, 0, 0.8);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  flex-basis: 30%;
}

.footer-section h3 {
  
  font-size: 20px;
  margin-bottom: 10px;
}

.footer-section p {
  font-size: 16px;
  margin-bottom: 5px;
}

.social-media-icons {
  list-style: none;
  padding: 0;
  display: flex;
}

.social-media-icons li {
  margin-right: 10px;
}

.social-media-icons a {
  color: #fff;
}

.footer-bottom {
  margin-top: 20px;
  text-align: center;
  color:#fff
}

.back-to-top {
  font-weight: bold;
  color:#00c7b7 ;
  text-decoration: none;
  margin-right: 10px;
  padding-top: 30px;
  font-family: "Social";
  font-size: 20px;
}

.back-to-top:hover {
  text-decoration: none;
}

.theteam  h2 {
  text-align: center ;
  font-family: "Social";  
}

.theteam h3 {
  text-align: center;
  font-family:"Future";
  color: white;
}

.theteam  h4 {
  text-align: center;
  color: white;
}
.theteam  p {
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  justify-content: center;
}

.theteam h3 {
  margin-top: 30px;
  color: #00c7b7 ;
  font-style: "Simple"
}
.theteam .icon {
  width: 200px;
  height: 200px;
  margin-left: 40px;
  align-items: center;
  margin-bottom: 20px;
  border: 2px solid #00c7b7;
  border-radius: 200px;
  box-shadow: 0 0 5px #00c7b7, 0 0 10px #00c7b7;
}
.theteam .icon:hover{
  filter: none;
}

.theteam .row {
  display: flex;
  flex-wrap: wrap;
  margin-left: 200px;
  margin-right: 200px; 
  justify-content: center;
  flex-direction: row;
}

.theteam .icon-box {
  width: 400px; 
  height: 400px; 
  margin-right: 10px; 
  margin-left: 10px;
  margin-top: 10px;
  padding: 80px 20px;
}

.icon-box p {
  color: white;
  font-family: "Future";
}

#menuindex {
  text-align: center;
}

#menuindex h3 {
  margin-top: 20px;
  text-align: center;
  font-family: "Simple";
  font-size: 40px;
  font-weight: bolder;
  color: #00c7b7;
}
#menuindex h4 {
font-size: 25px; 
font-family: "Future";
text-align: center;
color: white;
}
#menuindex h6 {
  margin: 10px 0;
  text-align: center;
  font-family: "Future";
  font-size: 20px;
}

#menuindex ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

#menuindex ul li {
  margin: 5px 0;
  text-align: center;
}

#menuindex a {
  text-decoration: none;
  text-align: center;
}

#menuindex hr {
  border: none;
  margin: 20px 0;
  text-align: center;
}


/*metadata*/

#metadatatable {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

h2 {
  text-align: center;
  font-size: 40px;
  
  font-family: "Simple";
}
#metadatatable h3 {
  margin-top: 20px;
  text-align: center;
  font-family: "Simple";
  font-size: 40px;
  font-weight: bolder;
  color: #00c7b7;

}
#metadatatable h4 {
font-size: 25px; 
text-align: center;
color: white;
font-family: "Future";
}
#metadatatable h6 {
  margin: 10px 0;
  text-align: center;
  font-family: "Future";
  font-size: 20px;
  color: white;
}

#metadatatable ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

#metadatatable ul li {
  margin: 5px 0;
  text-align: center;
}

#metadatatable a {
  text-decoration: none;
  text-align: center;
}

#metadatatable hr {
  border: none;
  margin: 20px 0;
  text-align: center;
}

#chosenpoem{
  width: 70%;
  float: right;
  height: 800px;
  overflow: auto;
  text-align: left;
  position: relative;
}
#chosenpoem #Eng{
  float:left;
  max-width: 50%;
  padding-top: 20px;
}
#chosenpoem #secondLanguage{
  position:relative;
  text-align: left;
  float:left;
  max-width: 50%;
}
#chosenpoem h3{
  color: white;
  font-size: 30px;
  margin-top: 30px;
  padding-left: 50px;
}

.services #clickable{
  cursor: pointer;
  padding: 5px;
  font-size: 70%;
  color: white;
  font-family: "Social";
  border: 2px double #00c7b7;
  border-radius: 4px;
  background-color:  black;
}

.services #metadata{
  cursor: pointer;
  font-size: 90%;
  border: 2px double #00c7b7;
  border-radius: 4px;
  padding: 10px;
  font-family: "Social";
  margin: 3px;
}

#sappho{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#dickinson{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#kaur{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.services #authorbtn{
  cursor: pointer;
  padding: 5px;
  font-size: 90%;
  margin-top: 10px;
  color: white;
  font-family: "Social";
  border: 2px double #00c7b7;
  border-radius: 4px;
  background-color:  black;
}
.services #hidden{
  visibility: hidden;
  font-size: 40%;
}

.services #langButton{
  cursor: pointer;
  font-size: 90%;
  padding: 10px;
  margin-left: 40px;
  color: white;
  font-family: "Social";
  border: 2px double #00c7b7;
  border-radius: 4px;
  background-color:  black;
}

#menuindex .self{
  background-color: gold;
}
#menuindex .place{
  background-color:  #77bdff;
}
#menuindex .neg{
  background-color: #ff5757;
}
#menuindex .pos{
  background-color: #65ff57;
}

.icon-rupi {
  width: 400px; 
  height: 5hv; 
}

.icon-sappho {
  width: 400px; 
  height: 5hv; 
}

.icon-emily{
  width: 400px; 
  height: 5hv; 
}

#bemboButton a:hover{
  background-image: url(backgroundimg/letterbg.jpg);
  font-family: "Bembo", "serif";
  color: rgb(213, 0, 0);
  font-weight: bold;
}

#decoButton a:hover{
  background-image: url(backgroundimg/last.jpg);
  font-family:"Coventry";
  color: rgb(178, 57, 135);
  font-weight: bold;
}

#sixtyButton a:hover{
  background-image: url(backgroundimg/60sad.jpg);
  font-family: "Hippie";
  color: yellow;
}

#socialButton a:hover{
  font-family: "Future";
  color: black;
  background-image: url(backgroundimg/future.jpg);
  font-weight: bold;
}

/*responsiveness*/
@media screen and (max-width: 1200px){
  #hero h2{
    margin-left: 30px;
    font-size: 30px;
  }
  #hero .button{
    margin-left: 30px;
    padding: 10px;
  }
  #hero .carousel-container{
    right: 500px;
  }
  nav ul li{
    display: none;
  }
  nav ul{
    border: none;
  }
  #responsive{
    background-color: inherit;
    border: 4px double #00c7b7;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    padding: 10px;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    width:fit-content;
    border: 4px double #00c7b7;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 5px;
  }
  .dropdown-content a {
    font-family: "Future";
    display: flex;
    border: 4px double #00c7b7;
    font-size: 15px;
    padding: 15px;
    color: #c0c0c0;
    cursor: pointer;
  }
  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
  }
  .label.logo{
    width:fit-content;
  }
}

@media screen and (min-width: 900px){
  .issuesintro { 
    width: 70%;
    float: right;
    margin-bottom: 30px;
  }
  .issuesintro .red-bold{
    overflow: auto;
    height: 850px;
  }
}
@media screen and (max-width: 900px){
  .services .row{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  .theteam .row{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  #menuindex{
    font-size: smaller;
  }
  #menuindex h3{
    font-size:medium;
  }
  #menuindex #sappho{
    font-size: medium;
  }
  #menuindex #dickinson{
    font-size: medium;
  }
  #menuindex #kaur{
    font-size: medium;
  }
  #menuindex{
    margin-right: 40px;
    margin-left: 20px;
    height:fit-content;
  }
  #textsContainer #menuindex{
    margin-right: 60px;
    height:fit-content;
  }
  #hero .carousel-container{
    right: 200px;
  }
  #servicesIssues{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #leftmenu{
    width: 100%;
    height: fit-content;
  }
  #chosenpoem{
    width: 100%;
  }
  .issuesintro{
    width: 100%;
  }
  label.logo{
    font-size: 35px;
    padding-top: 10px;
  }
  .logoimg{
    margin-left: 0;
  }
  #responsive{
    background-color: inherit;
    border: 4px double #00c7b7;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    padding: 10px;
  }
  #issuesgrid .red-bold{
    margin-left: 50px;
    margin-right: 50px;
  }
}
@media screen and (max-width: 600px){
  #menuindex #metadata{
  padding: 2px;
  }
  #menuindex #sappho{
    font-size: small;
  }
  #menuindex #dickinson{
    font-size: small;
  }
  #menuindex #kaur{
    font-size: small;
  }
  .services .icon-box{
    width: 200px;
    height: fit-content;
    padding: 5px;
  }
  .theteam .icon-box{
    width: 200px;
    height: fit-content;
    padding: 5px;
  }
  .theteam p{
    font-size: 13px;
  }
}  